body {
    margin: 0;
    padding: 0;
    font-family: 'Dancing Script', georgia;
}

.header-bg {
    background-image: url("images/header-bg.png");
    background-size: cover;
    height: 700px;
}

.half-width {
    float: left;
    width: 45%;
}

.text-margin {
    margin: 10% 2.5% 0;
}

.img-margin {
    margin: 5% 2.5% 0;
}

h1 {
    font-size: 40px;
}

span {
    font-size: 65px;
    font-weight: 900;
    color: #ff3366;
}

p {
    text-align: justify;
    color: #666666;
}

.link-btn {
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px;
    background-image: -webkit-gradient(linear, right top, left top, from(#ff3366), to(#ff6699));
    background-image: linear-gradient(-90deg, #ff3366, #ff6699);
    border-radius: 5px;
    color: #ffffff;
}

.peter-pic {
    width: 100%;
}

.biography-bg {
    background-image: url("images/biography-bg.png");
    background-size: cover;
    height: 850px;
    background-attachment: fixed;
}

.work-bg {
    background-image: url("images/latest-work-bg.png");
    background-size: cover;
    height: 425px;
    background-position: center;

}

h2 {
    font-size: 30px;
}

.work-title {
    font-size: 30px;
    text-align: center;
    margin: 7% 0 2%;
}

.my-work {
    float: left;
    width: 25%;
    margin: 3% 1% 0;
}

.work-img {
    width: 100%
}

.work-left {
    margin-left: 11%;
}

.work-right {
    margin-right: 10%;
}

.footer-bg {
    background-image: url("images/footer-bg.png");
    background-size: cover;
    height: 700px;
}

.footer-top {
    text-align: center;
    margin-top: 10%;

}

.footer-top h2 {
    margin-bottom: 5%;
}

.footer-top p {
    text-align: center;
}

.footer-top h4 {
    margin-top: 3%;
    font-size: 22px;
    font-weight: 400;
}

.send-email {
    margin: 5% 0 10%;
    background-image: -webkit-gradient(linear, right top, left top, from(#ff3366), to(#ff6699));
    background-image: linear-gradient(-90deg, #ff3366, #ff6699);
    display: inline-block;
    padding: 20px 100px 35px;
    color: #ffffff;
    border-radius: 5px;
}

.send-email p {
    color: #ffffff;
}

.footer-bottom p {
    text-align: center;
    margin-bottom: 3%;
}
